################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/RecipeCreatorApp202306/.vs
/RecipeCreatorApp202306/obj
